@media (max-width: 768px) {
  * {
    max-width: 768px;
  }
  h3,
  h2 {
    font-size: 70%;
  }
  /* banner */
  .container-all,
  .banner {
    max-width: 768px;
  }
  /* Job-info */
  .container-job-info {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 3%;
  }
  .certificate {
    margin-top: 20%;
  }
  /* Project */
  .project {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3%;
  }
  .container-project {
    padding: 0px 5px 0px 20px;
  }
  .container-project h2 {
    padding: 10%;
  }
  .project1,
  .project2,
  .project3 {
    font-size: 70%;
  }

  .nam {
    width: 80%;
    padding-left: 20%;
  }
  .CV,
  .thucung,
  .tintuc,
  .mota {
    font-size: 80%;
  }
  #section-title {
    padding: 5%;
  }
  .footer {
    max-width: 768px;
  }
}
